<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ... -->
</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Акинатор</title>
</head>
<body>
<h1 style="text-align: center;">${vopros.getAttribute}</h1>

<div id="question" style="font-size: 20px; text-align: center; margin-bottom: 20px;"></div>
<img id="image" style="width: 300px; height: 300px; object-fit: cover; margin-bottom: 80px;" src="./images/qqq.jpg" />


<!--<img class="button-profile__img" src="./images/qqq.jpg" alt="Профиль">-->


<button class="button" style="display: inline-block; padding: 10px 20px; font-size: 18px; background-color: #3498db; color: #fff; cursor: pointer; border: none; border-radius: 5px; margin-right: 10px;" onclick="answerYes()">ДА</button>

<button class="button" style="display: inline-block; padding: 10px 20px; font-size: 18px; background-color: #3498db; color: #fff; cursor: pointer; border: none; border-radius: 5px; margin-right: 10px;" onclick="answerNo()">НЕЗНАЮ</button>

<button class="button" style="display: inline-block; padding: 10px 20px; font-size: 18px; background-color: #3498db; color: #fff; cursor: pointer; border: none; border-radius: 5px; margin-right: 10px;" onclick="answerNo()">НЕТ</button>



</body>
</html>
